.app {
	overflow-y: hidden;
	margin: 0;
	text-align: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-size: calc(10px + 2vmin);
}

.main {
	height: 90%;
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;
}

.theme-editor {
	flex: 1;
}

.theme-viewer {
	flex: 1;
}

.control-wrapper {
	display: flex;
	align-items: center;
}
.control-wrapper > h1 {
	margin-left: 20px;
	margin-right: 20px;
	font-size: 32px;
}
.controls {
	display: flex;
}
.control {
	display: flex;
	margin-left: 20px;
	margin-right: 20px;
	align-items: center;
}
.spinner {
	width: 80px;
}
.cb-info {
	margin-left: 2px;
	font-size: 10px;
	width: 200px;
}

.editor-wrapper {
	height: 100%;
	overflow-y: auto;
	padding: 10px 20px 20px 20px;
}
.tab {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 350px;
	margin-top: 0px;
	margin-bottom: 10px;
}
.footer {
	margin-top: 10px;
	margin-bottom: 40px;
	font-size: 12px;
}
.privacy {
}
.github {
	margin-top: 8px;
}
h2 {
	text-transform: uppercase;
	font-size: 0.8em;
	margin-top: 12px;
	margin-bottom: 8px;
}
h3 {
	text-transform: uppercase;
	font-size: 20px;
	margin-top: 12px;
	margin-bottom: 8px;
}

.color-controls-area {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.color-controls {
	margin-left: 20px;
	width: 400px;
}
.color-control {
	margin-bottom: 8px;
}

.color-strip-horizontal {
	display: flex;
	justify-content: center;
}
.color-block-horizontal {
	margin: 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.color-block-primary-label-horizontal {
	font-size: 11px;
}
.color-block-secondary-label-horizontal {
	font-size: 10px;
}
.color-block-swatch-horizontal {
	height: 28px;
	width: 42px;
	margin: 2px;
}

.color-strip-vertical {
	display: flex;
	flex-direction: column;
	margin: 4px;
}
.color-block-vertical {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.color-block-primary-label-vertical {
	width: 110px;
	text-align: right;
	font-size: 11px;
}
.color-block-secondary-label-vertical {
	text-align: left;
	flex: 2;
	font-size: 10px;
}
.color-block-swatch-vertical {
	height: 20px;
	width: 20px;
	margin: 4px;
}

.mark-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 32px;
}
.mark-grid-cell {
	width: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 8px;
}
.mark-grid-cell-title {
	font-size: 10px;
}
.mark-grid-cell-example {
	display: flex;
	justify-content: center;
	align-items: center;
}

.application-palette {
	display: flex;
}

.theme-wrapper {
	overflow-y: auto;
	height: 100%;
	padding: 10px 20px 20px 20px;
}
.example-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.example-grid-item {
	margin: 20px;
}

.chart-control-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 10px;
}
.chart-controls {
	display: flex;
}
.chart-control {
	display: flex;
	margin-left: 20px;
	margin-right: 20px;
	align-items: center;
}
.chart-spinner {
	width: 80px;
}


/*# sourceMappingURL=main.14e6d8812a910a81ce10.css.map*/