.editor-wrapper {
	height: 100%;
	overflow-y: auto;
	padding: 20px 30px 20px 40px;
}
.tab {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 350px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.privacy {
	margin-top: 10px;
	margin-bottom: 40px;
	font-size: 12px;
}
